*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

main{
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

main h4{
  color: white;
  font-size: 64px;
  border-radius: 8px;
  background-color: rgb(84, 81, 77);

  padding: 4px 24px;
}